.mE1GfG_avatar {
  position: relative;
}

.mE1GfG_sizeLarge {
  --size: 48px;
  width: var(--size);
  height: var(--size);
}

.mE1GfG_sizeBase {
  --size: 40px;
  width: var(--size);
  height: var(--size);
}

.mE1GfG_sizeSmall {
  --size: 32px;
  width: var(--size);
  height: var(--size);
}

.mE1GfG_avatarWrapper {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mE1GfG_avatarWrapper img {
  --size: 100%;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mE1GfG_avatarSmallIcon {
  color: #fff;
  background: #000b28;
  border: 2px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  display: flex;
  position: absolute;
  top: -4px;
  right: -8px;
}

.mE1GfG_avatarSmallIcon svg {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  display: block;
}

.mE1GfG_imageStub {
  color: #fff;
  background: #0029ff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 1;
  display: flex;
}

.Pdf5ZW_avatarText {
  border-radius: 8px;
  grid-template-columns: 48px auto 20px;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 8px;
  display: grid;
}

.Pdf5ZW_avatarTextCaption {
  flex-direction: column;
  gap: 4px;
  display: flex;
  overflow: hidden;
}

.Pdf5ZW_avatarTextName {
  color: #000b28;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;
}

.Pdf5ZW_avatarTextSubtext {
  font-size: 12px;
  line-height: 16px;
}

.Pdf5ZW_subtextDefault {
  color: #94a3b8;
}

.Pdf5ZW_subtextWarning {
  color: #f59e0b;
}

.Pdf5ZW_actionsRow {
  align-content: center;
  display: flex;
}

.Pdf5ZW_linkIcon, .Pdf5ZW_buttonIcon {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  color: #0029ff;
  background-color: #0000;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: background-color .2s ease-out;
  display: flex;
}

@media (hover: hover) and (pointer: fine) {
  .Pdf5ZW_linkIcon:hover, .Pdf5ZW_buttonIcon:hover {
    background-color: #f4f9ff;
  }
}

.Pdf5ZW_linkIcon svg, .Pdf5ZW_buttonIcon svg {
  flex-shrink: 0;
}

.Pdf5ZW_tooltipContainer {
  align-self: self-start;
}

.Pdf5ZW_tooltip {
  width: 192px;
}

.Pdf5ZW_usersIcon {
  color: #94a3b8;
}

.SKJu9G_badge {
  color: #fff;
  border-radius: 12px;
  height: 20px;
  padding: 0 6px;
  font-size: 14px;
  line-height: 20px;
  transition: background-color .2s ease-in-out;
}

.SKJu9G_badgeInactive {
  background: #475569;
}

.SKJu9G_badgeActive {
  background: #db2777;
}

.OlV_yG_buttonLoader {
  width: 20px;
  position: relative;
  top: 2px;
}

.OlV_yG_buttonSizeLarge {
  height: 48px;
  padding: 0 24px;
}

.OlV_yG_buttonSizeBase {
  height: 40px;
  padding: 0 20px;
}

.OlV_yG_buttonSizeSmall {
  height: 32px;
  padding: 0 16px;
}

.OlV_yG_buttonPrimaryColor {
  color: #fff;
  background: #0029ff;
}

@media (hover: hover) and (pointer: fine) {
  .OlV_yG_buttonPrimaryColor:hover {
    background: #0434b1;
  }
}

.OlV_yG_buttonSecondaryColor {
  color: #0029ff;
  background: #f4f9ff;
}

@media (hover: hover) and (pointer: fine) {
  .OlV_yG_buttonSecondaryColor:hover {
    color: #2563eb;
    background: #dbeafe;
  }
}

.OlV_yG_buttonOutlineColor {
  color: #0029ff;
  border: 1px solid #0029ff;
}

@media (hover: hover) and (pointer: fine) {
  .OlV_yG_buttonOutlineColor:hover {
    color: #0434b1;
    border-color: #0434b1;
  }
}

.OlV_yG_buttonLinkColor {
  color: #0029ff;
}

@media (hover: hover) and (pointer: fine) {
  .OlV_yG_buttonLinkColor:hover {
    color: #0434b1;
    background: #f4f9ff;
  }
}

.OlV_yG_buttonGrayColor {
  color: #fff;
  background: #64748b;
}

.OlV_yG_buttonGrayColor:hover {
  background: #4b5563;
}

.OlV_yG_buttonGraySecondaryColor {
  color: #64748b;
}

.OlV_yG_buttonGraySecondaryColor:hover {
  color: #4b5563;
}

.OlV_yG_button {
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
  display: flex;
}

.OlV_yG_buttonIconWrapper {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

.f9-74G_buttonIcon {
  justify-content: center;
  align-items: center;
  transition: color .2s, background-color .2s;
  display: flex;
}

.f9-74G_sizeSmall {
  --size: 32px;
  width: var(--size);
  height: var(--size);
}

.f9-74G_sizeSmall svg, .f9-74G_sizeSmall img {
  --size: 16px;
  width: var(--size);
  height: var(--size);
}

.f9-74G_sizeBase {
  --size: 40px;
  width: var(--size);
  height: var(--size);
}

.f9-74G_sizeLarge {
  --size: 48px;
  width: var(--size);
  height: var(--size);
}

.f9-74G_sizeBase svg, .f9-74G_sizeBase img, .f9-74G_sizeLarge svg, .f9-74G_sizeLarge img {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

.EJIm4W_root {
  position: relative;
}

.EJIm4W_labelText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.EJIm4W_labelWrapper {
  color: #94a3b8;
  pointer-events: none;
  z-index: 1;
  max-width: calc(100% - 16px);
  padding-inline: 8px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.3;
  transition: background-color .2s ease-out, font-size .2s ease-out, color .2s ease-out, top .2s ease-out;
  display: flex;
  position: absolute;
  top: 10px;
  left: 8px;
}

.EJIm4W_labelWrapper.EJIm4W_isLarge {
  font-size: 1rem;
  top: 14px;
}

.EJIm4W_labelWrapper.EJIm4W_isLabelFloated {
  background-color: #fff;
  font-size: .75rem;
  top: -6px;
}

.EJIm4W_labelWrapper.EJIm4W_isLabelFloated.EJIm4W_isError {
  color: #ec4899;
}

.EJIm4W_subText {
  color: #94a3b8;
  pointer-events: none;
  padding: 4px 16px 0;
  font-size: 12px;
  line-height: 16px;
}

.EJIm4W_subText.EJIm4W_isError {
  color: #ec4899;
}

.EJIm4W_inputIconWrapper {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

.EJIm4W_inputIconWrapper svg, .EJIm4W_inputIconWrapper img {
  width: 20px;
}

.EJIm4W_sizeBase {
  height: 40px;
  padding: 0 16px;
}

.EJIm4W_sizeBase input {
  font-size: 14px;
  line-height: 20px;
}

.EJIm4W_sizeLarge {
  height: 48px;
  padding: 0 16px;
}

.EJIm4W_sizeLarge input {
  font-size: 16px;
  line-height: 24px;
}

.EJIm4W_disabled {
  background: #f8fafc;
  display: flex;
}

.EJIm4W_disabled input {
  background: #f8fafc;
}

.EJIm4W_wrapper {
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  align-self: stretch;
  align-items: center;
  gap: 8px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border .2s ease-in-out;
  display: flex;
  position: relative;
}

.EJIm4W_wrapper input {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

:-webkit-any(.EJIm4W_wrapper input:-webkit-autofill:hover, .EJIm4W_wrapper input:-webkit-autofill:focus) {
  -webkit-box-shadow: inset 0 0 0 1000px #fff !important;
}

:is(.EJIm4W_wrapper input:autofill:hover, .EJIm4W_wrapper input:autofill:focus) {
  -webkit-box-shadow: inset 0 0 0 1000px #fff !important;
}

.EJIm4W_statusError {
  border-color: #ec4899;
}

.EJIm4W_statusError .EJIm4W_labelWrapper.EJIm4W_isLabelFloated {
  color: #ec4899;
}

.EJIm4W_statusDefault:focus-within {
  border-color: #0029ff;
}

.EJIm4W_statusDefault:focus-within .EJIm4W_labelWrapper.EJIm4W_isLabelFloated, .EJIm4W_loader {
  color: #0029ff;
}

.CNU9zG_tabWrapper {
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
  display: flex;
}

.CNU9zG_tabButton {
  grid-template-columns: minmax(20px, auto) auto;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  display: grid;
  position: relative;
}

.CNU9zG_tabButton:after {
  content: "";
  background: none;
  width: 100%;
  height: 2px;
  transition: background-color .2s ease-in-out;
  position: absolute;
  bottom: 0;
}

.CNU9zG_buttonDefault {
  color: #000b28;
  border-bottom-color: #0000;
}

.CNU9zG_buttonActive {
  color: #0029ff;
}

.CNU9zG_buttonActive:after {
  background: #0029ff;
}

.Ouk_fG_root {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  padding: 24px;
}

@media (width <= 516px) {
  .Ouk_fG_root {
    max-width: calc(100% - 16px);
  }
}

.Ouk_fG_root::backdrop {
  backdrop-filter: blur(2px);
  background-color: #000b2880;
}

.Ouk_fG_header {
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  display: flex;
}

.Ouk_fG_title {
  color: #000b28;
  font-size: 1.25rem;
  font-weight: 500;
}

.Ouk_fG_closeButton {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  color: #0029ff;
  background-color: #0000;
  border: none;
  border-radius: 4px;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: background-color .2s ease-out;
  display: flex;
}

@media (hover: hover) and (pointer: fine) {
  .Ouk_fG_closeButton:hover {
    background-color: #f4f9ff;
  }
}

.Ouk_fG_closeIcon {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
}

.CUrLHG_checkbox {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  color: #fff;
  border: 2px solid #0000;
  border-radius: 4px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: border-color .2s ease-out, background-color .2s ease-out, color .2s ease-out;
  display: flex;
}

.CUrLHG_checked {
  background: #0029ff;
  border-color: #0029ff;
}

.CUrLHG_unchecked {
  border-color: #64748b;
}

.biBqfa_root {
  flex-direction: column;
  width: 100%;
  display: flex;
  position: relative;
}

.biBqfa_label {
  color: #94a3b8;
  pointer-events: none;
  z-index: 1;
  max-width: calc(100% - 16px);
  padding-inline: 8px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.3;
  transition: background-color .2s ease-out, font-size .2s ease-out, color .2s ease-out, top .2s ease-out;
  position: absolute;
  top: 10px;
  left: 8px;
}

.biBqfa_label.biBqfa_isLabelFloated {
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
  font-size: .75rem;
  top: -6px;
  overflow: hidden;
}

.biBqfa_label.biBqfa_isLabelFloated.biBqfa_isError {
  color: #ec4899;
}

.biBqfa_input {
  color: #64748b;
  appearance: none;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  width: 100%;
  min-height: 96px;
  padding: 8px 16px;
  font-size: .875rem;
  line-height: 1.2;
  transition: border-color .2s ease-out;
}

.biBqfa_input.biBqfa_isError {
  border-color: #ec4899;
}

.biBqfa_input:focus, .biBqfa_input:active {
  border-color: #0029ff;
  outline: none;
}

.biBqfa_input:focus + .biBqfa_label, .biBqfa_input:active + .biBqfa_label {
  color: #0029ff;
}

.biBqfa_input:focus.biBqfa_isError, .biBqfa_input:active.biBqfa_isError {
  border-color: #ec4899;
}

.biBqfa_input:focus.biBqfa_isError + .biBqfa_label, .biBqfa_input:active.biBqfa_isError + .biBqfa_label {
  color: #ec4899;
}

.biBqfa_subText {
  color: #94a3b8;
  pointer-events: none;
  padding: 4px 16px 0;
  font-size: 12px;
  line-height: 16px;
}

.biBqfa_subText.biBqfa_isError {
  color: #ec4899;
  border-color: #ec4899;
}

._7ZvM6G_root {
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  display: flex;
}

._7ZvM6G_chip {
  background-color: #f4f9ff;
  border-radius: 100px;
  align-items: center;
  gap: 4px;
  padding: 4px 4px 4px 16px;
  display: flex;
}

._7ZvM6G_chip._7ZvM6G_isError {
  background: #fdf2f8;
}

._7ZvM6G_label {
  font-size: .875rem;
  font-weight: 500;
}

._7ZvM6G_button {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  color: #0029ff;
  background-color: #0000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: background-color .2s ease-out;
  display: flex;
}

@media (hover: hover) and (pointer: fine) {
  ._7ZvM6G_button:hover {
    background-color: #e5f1ff;
  }
}

._7ZvM6G_button svg {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}

.pjVBMG_root {
  border-radius: 4px;
  gap: 16px;
  padding: 12px 16px;
  display: flex;
}

.pjVBMG_root.pjVBMG_isYellow {
  color: #f59e0b;
  background-color: #fffbeb;
  border: 1px solid #fef3c7;
}

.pjVBMG_root.pjVBMG_isRed {
  color: #ec4899;
  background-color: #fdf2f8;
  border: 1px solid #fce7f3;
}

.pjVBMG_root.pjVBMG_isGray {
  color: #64748b;
  background-color: #f8fafc;
  border: 1px solid #f1f5f9;
}

.pjVBMG_icon {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  min-width: 20px;
}

.pjVBMG_label, .pjVBMG_text {
  font-size: .875rem;
  line-height: 1.4;
}

.pjVBMG_label {
  font-weight: 600;
}

.pjVBMG_text {
  margin-top: 8px;
}

.pjVBMG_button {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  opacity: 1;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 8px;
  transition: opacity .2s ease-out;
  display: flex;
}

@media (hover: hover) and (pointer: fine) {
  .pjVBMG_button:hover {
    opacity: .7;
  }
}

.pjVBMG_button.pjVBMG_noText {
  --size: inherit;
  width: var(--size);
  height: var(--size);
  padding: 0;
}

.pjVBMG_button > svg {
  --size: 16px;
  width: var(--size);
  height: var(--size);
}

.yf0Zea_toggleSection {
  align-items: center;
  gap: 8px;
  display: flex;
}

.yf0Zea_button {
  background-color: #cbd5e1;
  border-radius: 100px;
  flex-shrink: 0;
  width: 32px;
  height: 16px;
  transition: background-color .2s ease-out;
}

.yf0Zea_button:before {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  content: "";
  background-color: #64748b;
  border-radius: 100px;
  transition: left .2s ease-out, background-color .2s ease-out;
  display: block;
  position: relative;
  left: 0;
}

.yf0Zea_button:disabled {
  background-color: #e2e8f0;
}

.yf0Zea_button:disabled:before {
  background-color: #64748b;
}

.yf0Zea_button.yf0Zea_isActive {
  background-color: #b3d6ff;
}

.yf0Zea_button.yf0Zea_isActive:before {
  background-color: #0029ff;
  left: calc(100% - 16px);
}

.yf0Zea_label {
  color: #64748b;
  font-size: 1rem;
}

.yf0Zea_description {
  color: #94a3b8;
  padding: 8px 0 8px 40px;
  font-size: .75rem;
}

.AXU6UG_wrapper {
  align-items: center;
  gap: 4px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}

.AXU6UG_wrapper svg {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

.AXU6UG_statusInfo {
  color: #94a3b8;
}

.AXU6UG_statusSuccess {
  color: #10b981;
}

.AXU6UG_statusWarning {
  color: #f59e0b;
}

.AXU6UG_statusError {
  color: #ec4899;
}

.W9eVXG_root {
  width: 100%;
  display: flex;
  position: relative;
}

.W9eVXG_toggler {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  pointer-events: none;
  color: currentColor;
  transition: transform .2s ease-out;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.W9eVXG_toggler.W9eVXG_isRotated {
  transform: translateY(-50%)rotate(180deg);
}

.W9eVXG_label {
  color: #94a3b8;
  pointer-events: none;
  z-index: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 16px);
  padding-inline: 8px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.3;
  transition: background-color .2s ease-out, font-size .2s ease-out, color .2s ease-out, top .2s ease-out;
  position: absolute;
  top: 10px;
  left: 8px;
  overflow: hidden;
}

.W9eVXG_label.W9eVXG_isLabelFloated {
  background-color: #fff;
  font-size: .75rem;
  top: -6px;
}

.W9eVXG_label.W9eVXG_isLabelFloated.W9eVXG_isError {
  color: #ec4899;
}

.W9eVXG_titleContainer {
  color: #64748b;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 24px 8px 16px;
  transition: color .2s ease-out, border-color .2s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .W9eVXG_titleContainer:hover {
    border-color: #b3d6ff;
  }

  .W9eVXG_titleContainer:hover .W9eVXG_label.W9eVXG_isLabelFloated {
    color: #b3d6ff;
  }
}

.W9eVXG_titleContainer:disabled {
  pointer-events: none;
  background-color: #f8fafc;
}

.W9eVXG_titleContainer.W9eVXG_isActive {
  border-color: #0029ff;
}

.W9eVXG_titleContainer.W9eVXG_isActive .W9eVXG_label.W9eVXG_isLabelFloated {
  color: #0029ff;
}

.W9eVXG_titleContainer.W9eVXG_isError {
  border-color: #ec4899;
}

.W9eVXG_titleContainer.W9eVXG_isError .W9eVXG_label.W9eVXG_isLabelFloated {
  color: #ec4899;
}

.W9eVXG_list {
  z-index: 101;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  max-height: 216px;
  padding-block: 8px;
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  overflow-y: auto;
  box-shadow: 0 4px 6px 1px #3341554d;
}

.W9eVXG_list.W9eVXG_isTopDirection {
  top: auto;
  bottom: calc(100% + 8px);
}

.W9eVXG_option {
  width: 100%;
  padding: 8px 0 8px 28px;
  font-size: .875rem;
  transition: background-color .2s ease-out, color .2s ease-out;
  position: relative;
}

.W9eVXG_option:disabled {
  color: #b3d6ff;
}

@media (hover: hover) and (pointer: fine) {
  .W9eVXG_option:not(:disabled):hover {
    color: #0029ff;
    background-color: #f4f9ff;
  }
}

.W9eVXG_subText {
  color: #94a3b8;
  pointer-events: none;
  padding: 4px 16px 0;
  font-size: 12px;
  line-height: 16px;
}

.W9eVXG_subText.W9eVXG_isError {
  color: #ec4899;
  border-color: #ec4899;
}

.O_Jy8W_inputWrapper {
  cursor: pointer;
}

.O_Jy8W_inputWrapper input {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

.O_Jy8W_disabled {
  cursor: not-allowed;
  opacity: .5;
}

.yarl__thumbnails {
  height: 100%;
  display: flex;
}

.yarl__thumbnails_bottom, .yarl__thumbnails_end .yarl__thumbnails_track, .yarl__thumbnails_start .yarl__thumbnails_track, .yarl__thumbnails_top {
  flex-direction: column;
}

.yarl__thumbnails_wrapper {
  flex: 1;
  position: relative;
}

.yarl__thumbnails_container {
  background-color: var(--yarl__thumbnails_container_background_color, var(--yarl__color_backdrop, #000));
  padding: var(--yarl__thumbnails_container_padding, 16px);
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  flex: none;
  position: relative;
  overflow: hidden;
}

.yarl__thumbnails_vignette {
  pointer-events: none;
  --yarl__thumbnails_vignette_size: 12%;
  position: absolute;
}

@media (width >= 1200px) {
  .yarl__thumbnails_vignette {
    --yarl__thumbnails_vignette_size: 8%;
  }
}

@media (width >= 2000px) {
  .yarl__thumbnails_vignette {
    --yarl__thumbnails_vignette_size: 5%;
  }
}

.yarl__thumbnails_bottom .yarl__thumbnails_vignette, .yarl__thumbnails_top .yarl__thumbnails_vignette {
  background: linear-gradient(to right, var(--yarl__color_backdrop, #000) 0, transparent var(--yarl__thumbnails_vignette_size, 12%) calc(100% - var(--yarl__thumbnails_vignette_size, 12%)), var(--yarl__color_backdrop, #000) 100%);
  height: 100%;
  left: 0;
  right: 0;
}

.yarl__thumbnails_end .yarl__thumbnails_vignette, .yarl__thumbnails_start .yarl__thumbnails_vignette {
  background: linear-gradient(to bottom, var(--yarl__color_backdrop, #000) 0, transparent var(--yarl__thumbnails_vignette_size, 12%) calc(100% - var(--yarl__thumbnails_vignette_size, 12%)), var(--yarl__color_backdrop, #000) 100%);
  width: 100%;
  top: 0;
  bottom: 0;
}

.yarl__thumbnails_track {
  gap: var(--yarl__thumbnails_thumbnail_gap, 16px);
  outline: none;
}

.yarl__thumbnails_thumbnail {
  appearance: none;
  background: var(--yarl__thumbnails_thumbnail_background, #000);
  border-color: var(--yarl__thumbnails_thumbnail_border_color, var(--yarl__color_button, #fffc));
  border-radius: var(--yarl__thumbnails_thumbnail_border_radius, 4px);
  border-style: var(--yarl__thumbnails_thumbnail_border_style, solid);
  border-width: var(--yarl__thumbnails_thumbnail_border, 1px);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  box-sizing: content-box;
  height: var(--yarl__thumbnails_thumbnail_height, 80px);
  padding: var(--yarl__thumbnails_thumbnail_padding, 4px);
  width: var(--yarl__thumbnails_thumbnail_width, 120px);
  outline: none;
  flex: none;
  position: relative;
  overflow: hidden;
}

.yarl__thumbnails_thumbnail_active {
  border-color: var(--yarl__thumbnails_thumbnail_active_border_color, var(--yarl__color_button_active, #fff));
}

.yarl__thumbnails_thumbnail_fadein {
  animation: yarl__thumbnails_thumbnail_fadein var(--yarl__thumbnails_thumbnail_fadein_duration, .5s) ease-in-out var(--yarl__thumbnails_thumbnail_fadein_delay, 0s) forwards;
  opacity: 0;
}

.yarl__thumbnails_thumbnail_fadeout {
  animation: yarl__thumbnails_thumbnail_fadeout var(--yarl__thumbnails_thumbnail_fadeout_duration, .5s) ease-in-out var(--yarl__thumbnails_thumbnail_fadeout_delay, 0s) forwards;
  cursor: unset;
}

.yarl__thumbnails_thumbnail_placeholder {
  cursor: unset;
  visibility: hidden;
}

.yarl__thumbnails_thumbnail:focus {
  box-shadow: var(--yarl__thumbnails_thumbnail_focus_box_shadow, #000 0 0 0 2px, var(--yarl__color_button, #fffc) 0 0 0 4px);
}

.yarl__thumbnails_thumbnail:focus:not(:focus-visible) {
  box-shadow: unset;
}

.yarl__thumbnails_thumbnail:focus-visible {
  box-shadow: var(--yarl__thumbnails_thumbnail_focus_box_shadow, #000 0 0 0 2px, var(--yarl__color_button, #fffc) 0 0 0 4px);
}

.yarl__thumbnails_thumbnail_icon {
  color: var(--yarl__thumbnails_thumbnail_icon_color, var(--yarl__color_button, #fffc));
  filter: var(--yarl__thumbnails_thumbnail_icon_filter, drop-shadow(2px 2px 2px #000c));
  height: var(--yarl__thumbnails_thumbnail_icon_size, 32px);
  width: var(--yarl__thumbnails_thumbnail_icon_size, 32px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
}

@keyframes yarl__thumbnails_thumbnail_fadein {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes yarl__thumbnails_thumbnail_fadeout {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.yarl__fullsize {
  width: 100%;
  height: 100%;
}

.yarl__relative {
  position: relative;
}

.yarl__portal {
  opacity: 0;
  transition: opacity var(--yarl__fade_animation_duration, .25s) var(--yarl__fade_animation_timing_function, ease);
  z-index: var(--yarl__portal_zindex, 9999);
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.yarl__portal_open {
  opacity: 1;
}

.yarl__container {
  background-color: var(--yarl__container_background_color, var(--yarl__color_backdrop, #000));
  overscroll-behavior: var(--yarl__controller_overscroll_behavior, contain);
  touch-action: var(--yarl__controller_touch_action, none);
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.yarl__carousel {
  height: 100%;
  opacity: var(--yarl__pull_opacity, 1);
  transform: translate(var(--yarl__swipe_offset, 0), var(--yarl__pull_offset, 0));
  width: calc(100% + (var(--yarl__carousel_slides_count)  - 1) * (100% + var(--yarl__carousel_spacing_px, 0) * 1px + var(--yarl__carousel_spacing_percent, 0) * 1%));
  flex: none;
  place-content: center;
  align-items: stretch;
  display: flex;
}

.yarl__carousel_with_slides {
  -moz-column-gap: calc(var(--yarl__carousel_spacing_px, 0) * 1px + 100 / (var(--yarl__carousel_slides_count) * 100 + (var(--yarl__carousel_slides_count)  - 1) * var(--yarl__carousel_spacing_percent, 0)) * var(--yarl__carousel_spacing_percent, 0) * 1%);
  column-gap: calc(var(--yarl__carousel_spacing_px, 0) * 1px + 100 / (var(--yarl__carousel_slides_count) * 100 + (var(--yarl__carousel_slides_count)  - 1) * var(--yarl__carousel_spacing_percent, 0)) * var(--yarl__carousel_spacing_percent, 0) * 1%);
}

.yarl__flex_center {
  place-content: center;
  align-items: center;
  display: flex;
}

.yarl__slide {
  padding: calc(var(--yarl__carousel_padding_px, 0) * 1px + 100 / (var(--yarl__carousel_slides_count) * 100 + (var(--yarl__carousel_slides_count)  - 1) * var(--yarl__carousel_spacing_percent, 0)) * var(--yarl__carousel_padding_percent, 0) * 1%);
  flex: 1;
  position: relative;
  overflow: hidden;
}

[dir="rtl"] .yarl__slide {
  --yarl__direction: -1;
}

.yarl__slide_image {
  -o-object-fit: contain;
  object-fit: contain;
  touch-action: var(--yarl__controller_touch_action, none);
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  max-width: 100%;
  max-height: 100%;
}

.yarl__slide_image_cover {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.yarl__slide_image_loading {
  opacity: 0;
}

@media screen and (width >= 800px) {
  .yarl__slide_wrapper:not(.yarl__slide_wrapper_interactive) .yarl__slide_image {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
  }
}

.yarl__slide_placeholder {
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
}

.yarl__slide_loading {
  color: var(--yarl__slide_icon_loading_color, var(--yarl__color_button, #fffc));
  animation: 1s linear yarl__delayed_fadein;
}

.yarl__slide_loading line {
  animation: 1s linear infinite yarl__stroke_opacity;
}

.yarl__slide_loading line:first-of-type {
  animation-delay: -1.875s;
}

.yarl__slide_loading line:nth-of-type(2) {
  animation-delay: -1.75s;
}

.yarl__slide_loading line:nth-of-type(3) {
  animation-delay: -1.625s;
}

.yarl__slide_loading line:nth-of-type(4) {
  animation-delay: -1.5s;
}

.yarl__slide_loading line:nth-of-type(5) {
  animation-delay: -1.375s;
}

.yarl__slide_loading line:nth-of-type(6) {
  animation-delay: -1.25s;
}

.yarl__slide_loading line:nth-of-type(7) {
  animation-delay: -1.125s;
}

.yarl__slide_loading line:nth-of-type(8) {
  animation-delay: -1s;
}

.yarl__slide_error {
  color: var(--yarl__slide_icon_error_color, red);
  height: var(--yarl__slide_icon_error_size, 48px);
  width: var(--yarl__slide_icon_error_size, 48px);
}

@media (prefers-reduced-motion) {
  .yarl__portal, .yarl__slide {
    transition: unset;
  }

  .yarl__slide_loading, .yarl__slide_loading line {
    animation: unset;
  }
}

.yarl__toolbar {
  padding: var(--yarl__toolbar_padding, 8px);
  justify-content: flex-end;
  display: flex;
  position: absolute;
  inset: 0 0 auto auto;
}

[dir="rtl"] .yarl__toolbar {
  inset: 0 auto auto 0;
}

.yarl__icon {
  height: var(--yarl__icon_size, 32px);
  width: var(--yarl__icon_size, 32px);
}

.yarl__button {
  appearance: none;
  background-color: var(--yarl__button_background_color, transparent);
  border: var(--yarl__button_border, 0);
  color: var(--yarl__color_button, #fffc);
  cursor: pointer;
  filter: var(--yarl__button_filter, drop-shadow(2px 2px 2px #000c));
  margin: var(--yarl__button_margin, 0);
  padding: var(--yarl__button_padding, 8px);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  line-height: 0;
}

.yarl__button:focus {
  color: var(--yarl__color_button_active, #fff);
}

.yarl__button:focus:not(:focus-visible) {
  color: var(--yarl__color_button, #fffc);
}

.yarl__button:focus-visible {
  color: var(--yarl__color_button_active, #fff);
}

@media (hover: hover) {
  .yarl__button:focus-visible:hover, .yarl__button:focus:hover, .yarl__button:hover {
    color: var(--yarl__color_button_active, #fff);
  }
}

.yarl__button:disabled {
  color: var(--yarl__color_button_disabled, #fff6);
  cursor: default;
}

.yarl__navigation_next, .yarl__navigation_prev {
  padding: var(--yarl__navigation_button_padding, 24px 16px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.yarl__navigation_prev {
  left: 0;
}

[dir="rtl"] .yarl__navigation_prev {
  left: unset;
  right: 0;
  transform: translateY(-50%)rotate(180deg);
}

.yarl__navigation_next {
  right: 0;
}

[dir="rtl"] .yarl__navigation_next {
  left: 0;
  right: unset;
  transform: translateY(-50%)rotate(180deg);
}

.yarl__no_scroll {
  overscroll-behavior: none;
  height: 100%;
  overflow: hidden;
}

@keyframes yarl__delayed_fadein {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes yarl__stroke_opacity {
  0% {
    stroke-opacity: 1;
  }

  to {
    stroke-opacity: .125;
  }
}

.Tx7QWa_root {
  --yarl__color_backdrop: #000b28cc;
  --yarl__carousel_padding_px: 40;
  --yarl__thumbnails_thumbnail_background: transparent;
  --yarl__thumbnails_thumbnail_border_color: #e5f1ff;
  --yarl__thumbnails_thumbnail_active_border_color: #7fb2ff;
  --yarl__button_filter: none;
  backdrop-filter: blur(2px);
}

.Tx7QWa_root .yarl__slide_image {
  border-radius: 4px;
}

.Tx7QWa_root .yarl__thumbnails_container {
  padding: 0 42px 16px;
}

.Tx7QWa_icon {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  color: #fff;
}

.Tx7QWa_icon.Tx7QWa_isPrev {
  rotate: 90deg;
}

.Tx7QWa_icon.Tx7QWa_isNext {
  rotate: -90deg;
}

.V8lgQW_tooltip {
  --width: 308px;
  color: #fff;
  text-align: center;
  width: var(--width);
  cursor: default;
  z-index: 100;
  background-color: #334155;
  border-radius: 4px;
  padding: 16px;
  font-size: .875rem;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.V8lgQW_tooltip.V8lgQW_isTop {
  bottom: calc(100% + 12px);
}

.V8lgQW_tooltip.V8lgQW_isTop:before {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  bottom: -6px;
}

.V8lgQW_tooltip.V8lgQW_isBottom {
  top: calc(100% + 10px);
}

.V8lgQW_tooltip.V8lgQW_isBottom:before {
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  top: -6px;
}

.V8lgQW_tooltip:before {
  content: "";
  background-color: #334155;
  width: 14px;
  height: 6px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.V8lgQW_root {
  z-index: 1;
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  .V8lgQW_root:hover .V8lgQW_tooltip {
    display: block;
  }
}

.V8lgQW_root:focus .V8lgQW_tooltip, .V8lgQW_root:focus-visible .V8lgQW_tooltip, .V8lgQW_root:focus-within .V8lgQW_tooltip {
  display: block;
}

.gW9_sW_root {
  z-index: 104;
  max-width: 700px;
}

@media (width <= 716px) {
  .gW9_sW_root {
    max-width: calc(100% - 16px);
  }
}

.gW9_sW_description {
  color: #64748b;
  resize: vertical;
  max-height: 400px;
  margin-top: 4px;
  font-size: .875rem;
  font-weight: 400;
  width: auto !important;
}

.gW9_sW_fieldset {
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  display: flex;
}

@media (width <= 639px) {
  .gW9_sW_fieldset {
    gap: 8px;
    margin-top: 16px;
  }
}

.gW9_sW_theme, .gW9_sW_description, .gW9_sW_name, .gW9_sW_email {
  color: #64748b;
}

.gW9_sW_uploadWrapper {
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.gW9_sW_uploadWrapper.gW9_sW_isError {
  border-color: #ec4899;
}

.gW9_sW_upload {
  flex-shrink: 0;
  width: 116px;
  font-size: .75rem;
}

.gW9_sW_fileName {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #64748b;
  max-width: calc(100% - 156px);
  font-size: .75rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 124px;
  overflow: hidden;
  transform: translateY(-50%);
}

.gW9_sW_deleteFileButton {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  color: #64748b;
  flex-shrink: 0;
  margin: auto 8px auto auto;
  padding: 0;
  transition: opacity .2s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .gW9_sW_deleteFileButton:hover {
    opacity: .8;
  }
}

.gW9_sW_uploadIcon {
  display: none;
}

.gW9_sW_webInfoBlock {
  gap: 8px;
  margin-top: 24px;
  display: flex;
}

.gW9_sW_webInfoCheckbox {
  margin-top: 4px;
}

.gW9_sW_webInfoText {
  color: #64748b;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
}

@media (width <= 639px) {
  .gW9_sW_webInfoText {
    font-size: .875rem;
  }
}

.gW9_sW_webInfoQuestion {
  color: #0029ff;
  opacity: 1;
  padding-block: 8px;
  font-size: .75rem;
  transition: opacity .2s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .gW9_sW_webInfoQuestion:hover {
    opacity: .7;
  }
}

.gW9_sW_webInfo {
  color: #64748b;
  background-color: #f4f9ff;
  border: 1px solid #f1f5f9;
  border-radius: 8px;
  padding: 12px;
  font-size: .75rem;
}

.gW9_sW_actions {
  border-top: 1px solid #f1f5f9;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 24px;
  padding-top: 24px;
  display: inline-flex;
}

.gW9_sW_actions button {
  width: fit-content;
}

@media (width <= 639px) {
  .gW9_sW_actions {
    margin-top: 16px;
  }
}

.gW9_sW_errorText {
  color: #ec4899;
  pointer-events: none;
  border-color: #ec4899;
  padding: 4px 16px 0;
  font-size: 12px;
  line-height: 16px;
}

.JooSuW_root {
  color: #fff;
  z-index: 103;
  background-color: #db2777;
  border-radius: 8px 8px 0 0;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 24px;
}

@media (width <= 639px) {
  .JooSuW_root {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}
/*# sourceMappingURL=lib.esm.css.map */
